.stButton > button {
    background-color: #007ACC; /* Azul do Visual Studio Code */
    color: white;
    border: none;
    padding: 8px 16px; /* Tamanho do botão ajustado */
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Adicionada a transição para a cor do texto */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.stButton > button:hover {
    background-color: #005F91; /* Tom mais escuro de azul ao passar o mouse */
}

h1 {
    color: rgb(103, 100, 100)
    white-space: nowrap;
    border-bottom: 2px solid #595757; /* Adiciona uma linha de borda semelhante à cor do botão */
    padding-bottom: 10px; /* Adiciona espaço entre o título e a borda */
    margin-bottom: 20px; /* Adiciona espaço abaixo do título */
    text-align: center;
}
